@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Kedebideri:wght@400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Global font fix */
* {
  font-family: "Poppins", sans-serif;
}

.RC {
  font-family: "Roboto Condensed", sans-serif;
}

.R {
  font-family: "Roboto", sans-serif;
}

.K {
  font-family: "Kedebideri", sans-serif;
}

.i {
  font-family: "Inconsolata", monospace;
}

/* -------------------------------- phoneInput --------------------------------------- */

.phoneInput {
  position: relative !important;
}

.phoneInput > * {
  user-select: none;
}

.phoneInput .PhoneInputCountry {
  position: absolute !important;
  background-color: #09090be1 !important;
  padding-left: 5px !important;
  border-bottom-left-radius: 4.5px !important;
  border-top-left-radius: 4.5px !important;
  z-index: 1 !important;
  width: 50px !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.phoneInput .PhoneInputCountry .PhoneInputCountrySelect {
  background: #121212 !important;
  border-radius: 20px !important;
  overflow-y: scroll !important;
  scrollbar-width: none !important; /* For Firefox */
  -ms-overflow-style: none !important; /* For Internet Explorer and Edge */
}

.phoneInput .PhoneInputCountry .PhoneInputCountrySelect::-webkit-scrollbar {
  display: none !important; /* For Chrome, Safari, and Opera */
}

.phoneInput .PhoneInputCountry .PhoneInputCountrySelect option {
  padding: 10px 15px !important;
  color: #e0e0e0 !important;
  background-color: #121212 !important;
  font-size: 16px !important;
  cursor: pointer !important;
}

.phoneInput .PhoneInputCountry .PhoneInputCountrySelect option:hover {
  background-color: #2a2a2a !important;
  color: #ffffff !important;
}

.phoneInput .PhoneInputCountry .PhoneInputCountrySelect option:checked {
  background-color: #3f3f3f !important;
  color: #ffffff !important;
}

.phoneInput .PhoneInputCountry .PhoneInputCountryIcon img {
  border-radius: 2px !important;
}

.phoneInput input {
  padding-left: 60px !important;
  padding-top: 6.5px !important;
  padding-bottom: 6.5px !important;
  border-radius: 5px !important;
  background-color: #1f1f22 !important;
}

.phoneInput input:focus {
  outline: none !important;
}
