@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Kedebideri:wght@400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Global font fix */
* {
  font-family: "Poppins", sans-serif;
}

.RC {
  font-family: "Roboto Condensed", sans-serif;
}

.R {
  font-family: "Roboto", sans-serif;
}

.K {
  font-family: "Kedebideri", sans-serif;
}

.i {
  font-family: "Inconsolata", monospace;
}
